.botao__conteudo {
        font-family: 'DynaPuff', cursive;
        font-size: 1.8rem;
        text-align: center;
}


.botao__conteudo {
    left: 275px;
    position: relative;
    top: 450px;
}


