.botao__subscribe {
    margin: 0 0 0 40px;
}


.botao__subscribe {
    border: 1px solid black;
    border-radius: 20px;
    width:20%;
}


.botao__subscribe {
    background-color: whitesmoke;
}


#redireciona {
   width: 30%;
}