.body1 {
    background: linear-gradient( blue, green ,yellow);
}

.body2 {
    background: linear-gradient( green , red );
}

.body3 {
    background: linear-gradient(blue , white, red);
}



.alterarEstilo {
    display: none;
}

.alterarEstilo02 {
    display: none;
}



.rodape {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 150px;
}



.franca {
    background: linear-gradient(blue , white, red);
    border:  1px solid white;
    border-radius: 15px;
    background;
    bottom: 310px;
    font-size:  1.5rem;
    position: relative;
    left: 400px;
    width: 25%;

}




.portugual {
    background: linear-gradient( green , red );
    border:  1px solid white;
    border-radius: 15px;
    bottom: 310px;
    font-size:  1.5rem;
    position: relative;
    left: 400px;
    width: 25%;

}




.brasil {
    background: linear-gradient( blue, green ,yellow);
    border:  1px solid white;
    border-radius: 15px;
    bottom: 310px;
    font-size:  1.5rem;
    position: relative;
    left: 400px;
    width: 25%;
}
